body{
    margin: 0;
    padding: 0;
}


/* ОСНОВНОЙ КОНТЕЙНЕР, НАСТРОЙКИ ХЕДА, БОДИ И ФУТТЕРА*/
.container{
    width: 100%;
    height:520vh;
    background-color:  #edfaed ;

    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 1.17% 98.83%;
}

.head-container{
    /* background-color: #01702B; */
    display: grid;
    grid-template-columns:repeat(3, 33%);
    grid-template-rows: 100%;
    justify-content: center;
    background-color: white;
}

.body-container{
    display: grid;
    grid-template-columns:40% 60%;
    grid-template-rows: 100%;
    justify-content: center;
    align-content: center;
}

.footer-conteiner{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns:33% 33%;
    grid-template-rows: 100%;
    justify-content: center;
    background-color: #313332;
}





/* НАСТРОЙКИ ХЕД КОНТЕЙНЕРА */
.logo-container{
    display: grid;
    grid-template-columns:repeat(3, 33%);
    grid-template-rows: 80%;
    justify-content: center;
    align-content: center;
}

.btn-container{
    display: grid;
    grid-template-columns:repeat(3, 30%);
    grid-template-rows: 50%;
    justify-content: center;
    align-content: center;
    gap: 1vh;
}

/* дом */
.btn-home{
    text-decoration: none;
}
.home-text{
    display: grid;  
    justify-content: right;
    align-content:center;
    grid-template-columns:50%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size: 2vh;          
    font-weight: 1000;        
    color: #291818;      
    letter-spacing: 0.03vh; 
    user-select: none;
}
/* расписание */
.btn-raspis{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 75%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size:2vh;          
    font-weight: 1000;        
    color: #291818;     
    letter-spacing: 0.03vh;  
    user-select: none;

}

 /* о нас */
.btn-us{
    display: grid;  
    justify-content: left;
    align-content:center;
    grid-template-columns:90%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size: 2vh;          
    font-weight: 1000;        
    color: #291818;       
    letter-spacing: 0.03vh;  
    justify-content: right;
    user-select: none;
}

/* лого */
.logo{
    background-image: url('../img/logoparty.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 80%;
} 


/* ХОВЕРЫ НА ХЕД */
.line-red-home{
    width: 6%;
    height: 0.5vh;
    position: absolute;
    margin-top: 0.2%;
    margin-left: 4.4%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.home-text:hover + .line-red-home {
  opacity: 1;
}


.line-red-raspis{
    width: 8%;
    height: 0.5vh;
    position: absolute;
    margin-top: 1.6%;
    margin-left: 0.4%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.raspis-text:hover + .line-red-raspis {
  opacity: 1;
}


.line-red-aboutus{
    width: 4%;
    height: 0.5vh;
    position: absolute;
    margin-top: 1.6%;
    margin-left: 0.5%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.aboutus-text:hover + .line-red-aboutus {
  opacity: 1;
}









/* НАСТРОЙКИ БОДИ КОНТЕЙНЕРА */
.oglavl-container{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
}
.oglavl-mini-container{
    position: fixed;
    top: 11%;   
    right: 64%;
    width: 15%;
    height: 55vh;
    display: grid;  
    justify-content: center;
    align-content:start;
    grid-template-columns: 90%;
    grid-template-rows: 70%;
    z-index: 9999;
}
.cont-in-cont-oglavl{
    /* border: 1px solid #385541; */

    display: grid;  
    justify-content: center;
    align-content:start;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    border-radius: 2.5vh;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(28, 51, 35, 0.08); 
}
.name-oglavl{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 90%;
    grid-template-rows: 20%;
    
    font-family: 'Arial', sans-serif; 
    font-size: 2vh;          
    font-weight: 800;        
    color: #020202;       
    letter-spacing: 0.09vh;  
    align-content: center;
    /* border: 1px solid #385541; */
}
.text-oglavl{
    display: grid;  
    justify-content: center;
    align-content:start;
    grid-template-columns: 90%;
    grid-template-rows: 25% 50% 25%;
}
.oglavl-real-text{
    display: grid;  
    justify-content: center;
    align-items:center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 20%;
}
.text-one{
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #020202;     
    letter-spacing: 0.09vh;  
    align-content: center;
    text-decoration: none;
    scroll-behavior: smooth;
}
.two-text{
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 90%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #020202;  
    letter-spacing: 0.09vh;  
    align-content: center;
    text-decoration: none;
    scroll-behavior: smooth;
}
.TWO-text{
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #020202;    
    letter-spacing: 0.09vh;  
    align-content: center;
    text-decoration: none;
    scroll-behavior: smooth;
}
.text-three{
    display: grid;  
    justify-content: center;
    align-items: start;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #020202;     
    letter-spacing: 0.09vh;  
    align-content: start;
    text-decoration: none;
    scroll-behavior: smooth;
}




.info-container{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 70% 30%;
    grid-template-rows: 99%;
}
.glav-info-container{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    border-radius: 2.5vh;
    box-shadow: 0 4px 12px 0 rgba(28, 51, 35, 0.08); 
}
.info-text-container{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 95%;
    border-radius: 2.5vh;

    background-color: white;
}

.info-text{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    margin-top: -15%;

    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal; 
    white-space: pre-line

}

.bold-text{
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 1000;        
    color: #020202;     
    letter-spacing: 0.09vh;  
    align-content: center;
    scroll-behavior: smooth;
    
}
.bold-one{
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 1000;        
    color: #020202;     
    letter-spacing: 0.09vh;  
    align-content: center;  
    scroll-behavior: smooth;

    margin-top: -3%;
    margin-left: 38%;
}

















/* ФУТЕР */
.foot-cont-one{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}

.foot-logo{
    display: grid;  
    justify-content: left;
    align-content:center;
    grid-template-columns: 70%;
    grid-template-rows: 100%;
}
.foot-logo-img{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-image: url('../img/logowhite.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 100%;
    opacity: 0.70; 
    transition: opacity 0.4s ease-in-out;
    &:hover {
        background-image: url('../img/logo.png'); 
    }
    
}
/* .in-two-foot{
     border: 1px solid blue; 
} */
.foot-text-prava{
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: start;

}
.foot-text-white{
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #fdfdfd;      
    letter-spacing: 0.09vh;  
    align-content: start;

}



.foot-cont-two{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 45% 15% 36%;
}
.foot-num{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 77%;
}
.foot-num-text{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 20%;
}
.fnt-white-num{
    font-family: 'Arial', sans-serif; 
    font-size: 3vh;          
    font-weight: 800;        
    color: #fdfdfd;      
    letter-spacing: 0.09vh;  
    align-content: start;

}
.ftn-gmail{
    font-family: 'Arial', sans-serif; 
    font-size: 2vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: start;

}
.ftn-adres-ebaniy{
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: end;

}



.foot-info-text{
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    margin-top: 5%;

}
.foot-info{
    display: grid;  
    justify-content: left;
    align-content:center;
    grid-template-columns: repeat(3, 12%);
    grid-template-rows: 100%;
}
.logo-max{
    display: grid;  
    justify-content: right;
    align-content:center;
    grid-template-columns:100%;
    grid-template-rows: 100%;
}
.logo-tg{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.logo-tiktok{
    display: grid;  
    justify-content: left;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}



.img-max{
    background-image: url('../img/maxlogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 80%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}
.img-tg{
    background-image: url('../img/tglogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 80%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}
.img-tiktok{
    background-image: url('../img/tiktoklogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 75%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}












































/* ====================================
   НОРМАЛЬНЫЙ МЕДИА-ЗАПРОС ДЛЯ МОБИЛОК 
   ====================================*/
@media (max-width: 767px){
    

/* ОСНОВНОЙ КОНТЕЙНЕР, НАСТРОЙКИ ХЕДА, БОДИ И ФУТТЕРА*/
.container{
    width: 100%;
    height: 200vh;
    background-color:  #edfaed ;

    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 3% 97%;

    
}

.head-container{
    /* background-color: #01702B; */
    display: grid;
    grid-template-columns:22% 56% 22%;
    grid-template-rows: 100%;
    justify-content: center;
    background-color: white;
    
}

.body-container{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 40% 60%;
    justify-content: center;
}





/* НАСТРОЙКИ ХЕД КОНТЕЙНЕРА */
.logo-container{
    display: grid;
    grid-template-columns:99% 1%;
    grid-template-rows: 80%;
    justify-content: center;
    align-content: center;
}

.btn-container{
    display: grid;
    grid-template-columns:repeat(3, 30%);
    grid-template-rows: 50%;
    justify-content: center;
    align-content: center;
    gap: 1vh;
}

/* дом */
.home-text{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns:50%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size: 1.3vh;          
    font-weight: 1000;        
    color: #291818;      
    letter-spacing: 0.03vh;
    user-select: none; 
}
/* расписание */
.btn-raspis{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 75%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size:1.3vh;          
    font-weight: 1000;        
    color: #291818;     
    letter-spacing: 0.03vh;  
    user-select: none;

}

 /* о нас */
.btn-us{
    display: grid;  
    align-content:center;
    grid-template-columns:90%;
    grid-template-rows: 100%;

    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size: 1.3vh;          
    font-weight: 1000;        
    color: #291818;       
    letter-spacing: 0.03vh;  
    user-select: none;
    margin-left: 17%;
}

/* лого */
.logo{
    background-image: url('../img/logoparty.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 100% ;
} 


/* ХОВЕРЫ НА ХЕД */
.line-red-home{
    width: 6%;
    height: 0.5vh;
    position: absolute;
    margin-top: 0.2%;
    margin-left: 3.1%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.home-text:hover + .line-red-home {
  opacity: 1;
}


.line-red-raspis{
    width: 8%;
    height: 0.5vh;
    position: absolute;
    margin-top: 1.6%;
    margin-left: 0.4%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.raspis-text:hover + .line-red-raspis {
  opacity: 1;
}


.line-red-aboutus{
    width: 4%;
    height: 0.5vh;
    position: absolute;
    margin-top: 1.6%;
    margin-left: 0.5%;
    background-color: rgb(219, 0, 0);

    opacity: 0; 
    transition: opacity 0.4s ease;
}
.aboutus-text:hover + .line-red-aboutus {
  opacity: 1;
}













/* НАСТРОЙКИ БОДИ КОНТЕЙНЕРА  */
















/* ФУТЕР */

.footer-conteiner{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns:90%;
    grid-template-rows: 30% 50%;
    justify-content: center;
    align-content: center;
    background-color: #313332;
}

.foot-cont-one{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;

    margin-top: 28%;
}

.foot-logo{
    display: none;
}
.foot-logo-img{
    display: none;
}

.foot-text-prava{
    font-family: 'Arial', sans-serif; 
    font-size: 1.5vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: start;
    text-align: center;
    margin-top: 10%;
}
.foot-text-white{
    font-family: 'Arial', sans-serif; 
    font-size: 1.6vh;          
    font-weight: 600;        
    color: #fdfdfd;      
    letter-spacing: 0.09vh;  
    text-align: center;
}



.foot-cont-two{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 50% 35% 15%;
}
.foot-num{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 77%;
}
.foot-num-text{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 20%;

    margin-top: -10%;
}
.fnt-white-num{
    font-family: 'Arial', sans-serif; 
    font-size: 2.5vh;          
    font-weight: 800;        
    color: #fdfdfd;      
    letter-spacing: 0.09vh;  
    align-content: start;
    text-align: center;
    user-select: none;

    margin-top: -23%;
}
.ftn-gmail{
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: start;
    text-align: center;

    margin-top: -25%;
}
.ftn-adres-ebaniy{
    position: absolute;
    top: 230%;
    font-family: 'Arial', sans-serif; 
    font-size: 1.7vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    align-content: end;
    text-align: center;
}



.foot-info-text{
    font-family: 'Arial', sans-serif; 
    font-size: 1.3vh;          
    font-weight: 600;        
    color: #a1a1a1;      
    letter-spacing: 0.09vh;  
    margin-top: 5%;
    text-align: center;
    margin-top: 10%;
}
.foot-info{
    display: grid;  
    justify-content:  center;
    align-content:center;
    grid-template-columns: repeat(3, 12%);
    grid-template-rows: 100%;
}
.logo-max{
    display: grid;  
    justify-content: right;
    align-content:center;
    grid-template-columns:100%;
    grid-template-rows: 20%;

    margin-top: -340%;
}
.logo-tg{
    display: grid;  
    justify-content: center;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 30%;

    margin-top: -320%;
}
.logo-tiktok{
    display: grid;  
    justify-content: left;
    align-content:center;
    grid-template-columns: 100%;
    grid-template-rows: 10%;

    margin-top: -330%;
}



.img-max{
    background-image: url('../img/maxlogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 80%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}
.img-tg{
    background-image: url('../img/tglogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 80%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}
.img-tiktok{
    background-image: url('../img/tiktoklogo.png'); 
    background-repeat: no-repeat;  
    background-position: center; 
    background-position: center;
    background-size: 75%;
    opacity: 0.70; 
    transition: opacity 0.4s ease;
    &:hover {
        opacity: 1; 
    }
}


}






















